body,
html {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: #ecf0f1;
    background-color: rgb(255, 255, 255);
    font-family: 'Fjalla One', sans-serif;
    animation: fadein 1.5s;
}

.default-style {
    color: #000000;
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100%   {
        opacity: 100%;
    }
  }

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

input {
    background-color: rgba(206, 231, 255, 0.5);
    color: #000000;
    outline: none;
    text-align: right;
    border: none;
    font-size: 3rem;
    width: 78vw;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.container {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    font-size: 1.5rem;
}


.calculator {
    padding: 0.25rem;
    display: inline-block;
}

table {
    margin: auto;
}

button {
    border: none;
    background-color: rgb(255, 203, 203);
    width: 20vw;
    height: 10vh;
    padding: 0.5rem 0;
    margin: 0.25vmax;
    font-size: 2rem;
    border-radius: 0.5rem;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
}

button:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
}

a{
    outline: none;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
}

a:hover{
    text-shadow: 0px 0px 10px rgba(241, 196, 15, 0.5);
    -moz-transition: all ease 0.5s;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -o-transition: all ease 0.5s;
}

#turn {
    display: none;
    z-index: 100;
    position: fixed;
}

@media (orientation: landscape) and (max-height: 500px) {
    #turn {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: rgb(255, 255, 255);
        background-color: rgba(236, 240, 241, 1.0);
    }
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.75rem;
}

.category-pill {
    display: inline-flex;
    align-items: center;
    background-color: #e5e5e5;
    border-radius: 999px;
    padding: 0.25rem 0.6rem;
    font-size: 0.85rem;
}

.category-pill button {
    background: none;
    border: none;
    margin-left: 0.4rem;
    cursor: pointer;
    font-size: 0.85rem;
    line-height: 1;
}

.category-pill button:hover {
    color: red;
}
